body {
  background-image: url('../images/14763.jpg');
  height: 1000px;
}

.navbar {
  background-color: navy;
  height: 60px;
}

.title {
  padding-bottom: 20px;
}

.tarjeta {
  margin: 20px 0px 20px 0px;
}

.btn-delete {
  background-color: #da223a;
  border-style: none;
  border-radius: 50px;
  padding: 10px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.boton {
  background-color: #f5d000;
  border-style: none;
  border-radius: 50px;
  padding: 10px;
  color: white;
  margin: 10px 0px 10px 0px;
}

.footer {
  background-color: navy;
  height: 60px;
}


 